.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
  &-logo {
    margin-right: 180px;
  }
  &-auth {
    margin-left: auto;
  }
  &-menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &-menu-item:not(:first-child) {
    margin-left: 75px;
  }
  &-menu-link {
    color: black;
    text-shadow: none;
    border-radius: 8px;
    transition: 0.5s ease;
    text-transform: uppercase;
    text-shadow: none;
    color: $gray-dark;
    padding: 10px;
    &:hover,
    :focus {
      color: #ffffff;
      background: #008cff;
      border: 1px solid #008cff;
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
      box-shadow: 0 0 5px $primary-color, 0 0 20px $primary-color,
        0 0 50px $primary-color, 0 0 100px $primary-color;
    }
  }
}
